<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page</title>
    <style>
        h1 {
            color: teal;
            background-color: beige;
        }
    </style>
</head>

<body>
    <center>
        <h1>This is Profile Page</h1>
        <h2>Welcome, <%= user.name %> on my site</h2>
        <h3>email = <%= user.email %>
        </h3>
        <h3>city = <%= user.city %>
        </h3>
    </center>
</body>

</html>